INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=password
INFLUXDB_INIT_ORG=my-org
INFLUXDB_INIT_BUCKET=speedtest
INFLUXDB_INIT_ADMIN_TOKEN=token

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

SPEEDTEST_INTERVAL_SECONDS=300
SPEEDTEST_ACCEPT_LICENSE=true
SPEEDTEST_ACCEPT_GDPR=true
LAN_INTERFACE=eth0
WIFI_INTERFACE=eth1
